<div class="alert-container">
  <% if notice then %>
    <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert then %>
    <div class="alert alert-danger fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= alert %>
    </div>
  <% end %>
</div>
